<div>

  <h1>Express API Server</h1>


  {{#if catsExamplePopulation }}
  Nice! you are usung the example database!
  <h4>cat pictures from <a href="https://www.pexels.com">https://www.pexels.com</a></h4>
  {{/if}}

  {{#if catsPopulation }}
	random cat on: <a href="{{url}}">{{url}}</a>
  <br>
  <br>
  <img src="{{url}}" alt="pic {{id}}" width="500" >

  {{else}}
  <!--method="POST" onsubmit="DoSubmit();" -->
  <h2>Cats database is empty!</h2>
    <form id="StartPopulation" method="POST" action="/populate_cats">
      <p>if you want to populate database with example, then please click on "start population"!</p>
      <input class="btn" type="submit" value="Start population" id="startPopulation" >
      </form> 
  {{/if}}
  <br>


</div>
