  <h1>Express API Server</h1>

    <h3>Welcome!</h3>
    <p>
      With this script it is possible to create a API server connected to a MySQL database.<br>
    I added 2 example databases that you can easily deploy and test.<br>
    Of course  if you want to connect a new database with different structure, then you need to add/edit some files.<br>
    All the content in 'routes', 'db', and of course 'example' are as a working example where some code can be recycled to make it work with your existend Database.<br>
    This could be useful for testing or learning purposes i hope.<br>
    Feel free to contact me if you want to help improve this code.     
    </p>

    {{#if connection }}
    <p style="color:green;">You successfully installed the "{{dbName}}" database!</p>
    {{else}}
    <p style="color:yellow;"><b>Please create database called 'api'!</b></p>
    {{/if}}

    {{#if userlistConnection }}
    <p style="color:green;">Connection on userlist table estabelished!</p>
        {{#if userlistPopulation }}
        <p style="color:green;">Great! userlist table is populated!</p>
        {{else}}
        <p style="color:yellow;"><b>Please post some users in the 'userlist' table!</b></p>
        <form id="StartPopulation" method="POST" action="/populate_users">
        <p><b>Or populate it with my example database by clicking on <b>"start population"!</b></p>
        <input class="btn" type="submit" value="Start population" id="startPopulation" >
        </form>
        {{/if}}
        {{else}}
        <p style="color:yellow;"><b>Please create a table named 'userlist'!</b></p>
        <div id="code">
          USE {{dbName}};<br>
          <br>
          CREATE TABLE userlist (email varchar(255) NOT NULL, name varchar(255) NOT NULL, surname varchar(255) NOT NULL, birthDate date NOT NULL, PRIMARY KEY (email));
        </div>
    {{/if}}

    {{#if catsConnection }}
    <p style="color:green;">Connection on cats table estabelished!</p>
        {{#if catsPopulation }}
        <p style="color:green;">Great! Cats table is populated!
          <br>
        <span style="color:black;">You can use the <a style="color:Blue;" href="{{serverURL}}:{{port}}/cats/">Random Cat</a> link to get some random cats from your database.</span></p>
        {{else}}
        <p style="color:yellow;"><b>Please post some cats in the 'cats' table!</b></p>
        <form id="StartPopulation" method="POST" action="/populate_cats">
        <p><b>Or populate it with my example database by clicking on <b>"start population"!</b></p>
        <input class="btn" type="submit" value="Start population" id="startPopulation" >
        </form>
        {{/if}}
        {{else}}
        <p style="color:yellow;"><b>Please create a table named 'cats'!</b></p>
        <div id="code">
          USE {{dbName}};<br>
          <br>
          CREATE TABLE cats (id int(11) NOT NULL AUTO_INCREMENT, name varchar(255) NOT NULL, imageAddress varchar(255) NOT NULL, PRIMARY KEY (id));
        </div>
        {{/if}}
        <br>
    <hr>

    <div >
      <h3>How to use "GET"</h3>
      <h4>Users:</h4>
      All users:
      <div id="code">
        GET {{serverURL}}:{{port}}/api/v1/users
      </div>
      <br>
      GET User by email(id):(for example john.doe@example.com)
      <div id="code">
        GET {{serverURL}}:{{port}}/api/v1/users/john.doe@example.com
      </div>
      <br>
      GET user(s) searching by name:
      <div id="code">
        GET {{serverURL}}:{{port}}/api/v1/users?name:John
      </div>
      <br>
      GET user(s) searching by 'surname':
      <div id="code">
        GET {{serverURL}}:{{port}}/api/v1/users?surname:Doe
      </div>
      <br>
      <h4>Cats:</h4>
      All cats:
      <div id="code">
        GET {{serverURL}}:{{port}}/api/v1/cats
      </div>
      <br>
      GET Cat by id:
      <div id="code">
        GET {{serverURL}}:{{port}}/api/v1/cats/1
      </div>
      <br>
      <hr>
      <h3>How to use "POST"</h3>
      <h4>Users:</h4>
      POST user:
      <div id="code">
        POST {{serverURL}}:{{port}}/api/v1/users
        <br>
         {<br>
        &nbsp;"email":"john.doe@example.com",<br>
        &nbsp;"name":"John",<br>
        &nbsp;"surname":"Doe",<br>
        &nbsp;"birthDate":"1980-07-21"<br>
        }
      </div>
      <br>
      <h4>Cats:</h4>
      POST cat:
      <div id="code">
        POST {{serverURL}}:{{port}}/api/v1/users
        <br>
         {<br>
        &nbsp;"name":"kitty cat kitten pet",<br>
        &nbsp;"imageAddress":"{{serverURL}}:{{port}}/images/cats/kitty-cat-kitten-pet-45201.jpeg"<br>
        }
      </div>
      <br>
      <hr>
      <h3>How to use "PUT"</h3>
      <h4>Users:</h4>
      <div id="code">
        PUT {{serverURL}}:{{port}}/api/v1/users/
        <br>
         {<br>
        &nbsp;"email":"john.doe@example.com",<br>
        &nbsp;"name":"Johnny",<br>
        &nbsp;"surname":"Doe",<br>
        &nbsp;"birthDate":"1980-07-21"<br>
        }
      </div>
      <br>
      <h4>Cats:</h4>
      PUT cat:(1=id)
      <div id="code">
        PUT {{serverURL}}:{{port}}/api/v1/cats/1
        <br>
         {<br>
        &nbsp;"name":"Sweet kitty cat kitten pet",<br>
        &nbsp;"imageAddress":"{{serverURL}}:{{port}}/images/cats/kitty-cat-kitten-pet-45201.jpeg"<br>
        }
      </div>
      <br>
      <hr>
      <h3>How to use "DELETE"</h3>
      <h4>Users:</h4>
       DELETE User by email(id):(for example john.doe@example.com)
      <div id="code">
        DELETE {{serverURL}}:{{port}}/api/v1/users/john.doe@example.com
      </div>
      <br>
      <h4>Cats:</h4>
       DELETE cat by id:
      <div id="code">
        DELETE {{serverURL}}:{{port}}/api/v1/cats/1
      </div>
      <br><br><br><br><br>




    </div>
</div>
