<!DOCTYPE html>
<html>
  <head>
    <title>Express API server</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="SHORTCUT ICON" href="/images/logo.png" />
  </head>

  <body>
    <div id="container">
      <nav id="navbar">        
        <div class="nav-container">
        <img src="images/logo-small.png" alt="">
        <a href="/" class="navbar-brand">Express API server</a>
          <ul class="navbar-nav">
            <li>
              <a href="/" class="{{#if active.home}} active{{/if}}">Home</a>
            </li>
            {{#if catsConnection }}
            <li>
              <a href="/cats" class="{{#if active.home}} active{{/if}}">Random Cat</a>
            </li>
            {{#if catsPopulation }}
            <li>
              <a href="/api/v1/cats" class="{{#if active.home}} active{{/if}}">Cats</a>
            </li>
            {{/if}}
            {{/if}}
            {{#if userlistPopulation }}
             <li>
              <a href="/api/v1/users" class="{{#if active.home}} active{{/if}}">Users</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </nav>
      <div id="content">
        {{#each error}}
          <div class="alert alert-danger" role="alert">
            <p class="mb-3">{{ this.message }}</p>
            {{#if this.debug }}
              <pre><code>{{ this.debug }}</code></pre>
            {{/if}}
          </div>
        {{/each}}

        {{{body}}}
      </div>
      <div id="footer">
        <h4>Somefooter text</h3>
      </div>
    </div>
  </body>
</html>
