/* CSS Document */
#container{margin:-7px auto;width:980px;}
#content{margin:0px auto;width:940px;min-height:700px;text-align:left;padding-left:20px;padding-right:20px;background-color:#cbcbcb;}
#navbar{margin:0px auto;float:right;text-align:left;height:120px;width:980px;border-bottom:solid gray;background-color:#ADADAD;font-size:x-large;}
#counter{margin:0px;width:90%;}
#code{font-family:FreeMono;background-color:black;color:white; padding:0.5rem}
html,body{padding:0;font-size:16px;font-family:ubuntu;background-repeat:no-repeat;
background-attachment:fixed;background-position:center;background-size:cover;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent}

a{color:white;text-decoration:none}
a:visited {color:white; text-decoration:underline}
img{text-decoration:none;border-style:none}

dl,ol,ul{margin-top:0;margin-bottom:0rem;float: left;flex-direction:row;}
ol ol,ol ul,ul ol,ul ul{margin-bottom:0}
li {display: inline;margin:1rem}

h3{text-decoration: underline;}

.nav-container{flex-basis:100%;padding: 2rem;margin-bottom:0;flex-direction:row;}
.navbar-brand{margin-bottom:0;padding:1rem 0rem 0rem 1rem;}
.navbar-nav{margin-bottom:0;list-style:none;padding: 3rem 0rem;float:right}

#footer{margin:0px auto;width:940px;padding:20px;max-height:60px;min-height:60px;text-align:center;background-color:#cbcbcb;border-top: 3px solid black;}
